@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0F19;
  color: #F8FAFC;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  user-select: none;
}

/* Custom scrollbar for hard design aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0EA5E9;
}
